@import url(https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900);body,
html,
#root {
  height: 100%;
  min-height: 100%;
}

body {
  font-size: 14px;
}

.sidebar.right-sidebar {
  display: block;
  left: auto;
  right: 0;
  width: 260px;
  transform: translate3d(260px, 0, 0);
}

.sidebar.right-sidebar .right-sidebar-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  width: 280px;
  background: #ffffff;
}

.show-from-right {
  transform: translate3d(260px, 0, 0);
}

@media (min-width: 992px) {
  .sidebar.right-sidebar {
    width: 340px;
    transform: translate3d(340px, 0, 0);
  }

  .sidebar.right-sidebar .right-sidebar-inner {
    width: 360px;
    background: #ffffff;
  }

  .sidebar.right-sidebar .right-sidebar-content {
    width: 100%;
    text-align: left;
  }

  .sidebar.right-sidebar .right-sidebar-content .sidebar-heading {
    padding: 20px;
    margin-bottom: 0;
  }

  .sidebar.right-sidebar .right-sidebar-content .tab-content {
    text-align: left;
    padding: 10px;
  }

  .sidebar.right-sidebar .right-sidebar-content .color-block {
    display: block;
    height: 30px;
    width: 30px;
    float: left;
    margin: 0 10px 5px 0;
    cursor: pointer;
  }

  .sidebar.right-sidebar .right-sidebar-content .list-group-item-title {
    font-size: 0.8125rem;
    font-weight: 400;
  }

  .sidebar.right-sidebar .right-sidebar-content .list-group-item-colors {
    padding: 20px 15px;
  }

  [data-sidebar-right-shadow="true"] .right-sidebar {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  [data-sidebar-right-height="full"] .right-sidebar {
    top: 0;
    height: 100%;
    z-index: 1038;
  }

  [data-sidebar-right-height="normal"] .right-sidebar {
    top: 60px;
    height: calc(100%);
    z-index: 1038;
  }

  [data-sidebar-right-height="normal"] .backdrop-right-sidebar {
    top: 60px;
  }

  [data-sidebar-right-backdrop-color="transparent"] .backdrop-right-sidebar {
    background: transparent !important;
  }

  [data-sidebar-right-backdrop-color="dark"] .backdrop-right-sidebar {
    background: rgba(0, 0, 0, 0.3) !important;
  }

  [data-sidebar-right-backdrop-color="light"] .backdrop-right-sidebar {
    background: rgba(255, 255, 255, 0.7) !important;
  }

  [data-sidebar-right-show="true"] .right-sidebar {
    transform: translate3d(0, 0, 0);
  }

  [data-sidebar-right-show="true"][data-sidebar-right-height="normal"][data-sidebar-right-style="push"] .main {
    padding-right: 290px;
  }

  [data-sidebar-right-show="true"][data-sidebar-right-height="normal"][data-sidebar-right-style="off-canvas"] .main {
    transform: translate3d(-260px, 0, 0);
    width: 100%;
  }

  [data-sidebar-right-show="true"][data-sidebar-right-height="normal"][data-sidebar-right-style="off-canvas"] .left-sidebar {
    transform: translate3d(-260px, 0, 0);
  }

  [data-sidebar-right-show="true"][data-sidebar-right-height="normal"][data-sidebar-right-style="off-canvas"] .backdrop-right-sidebar {
    opacity: 1;
    transform: translate3d(0, 0px, 0px);
    transition: opacity 0.3s;
  }

  [data-sidebar-right-show="true"][data-sidebar-right-height="full"][data-sidebar-right-style="push"] .navbar,
  [data-sidebar-right-show="true"][data-sidebar-right-height="full"][data-sidebar-right-style="push"] .main {
    padding-right: 290px;
  }

  [data-sidebar-right-show="true"][data-sidebar-right-height="full"][data-sidebar-right-style="off-canvas"] .navbar,
  [data-sidebar-right-show="true"][data-sidebar-right-height="full"][data-sidebar-right-style="off-canvas"] .main {
    transform: translate3d(-260px, 0, 0);
    width: 100%;
  }

  [data-sidebar-right-show="true"][data-sidebar-right-height="full"][data-sidebar-right-style="off-canvas"] .left-sidebar {
    transform: translate3d(-260px, 0, 0);
  }

  [data-sidebar-right-show="true"][data-sidebar-right-height="full"][data-sidebar-right-style="off-canvas"] .backdrop-right-sidebar {
    opacity: 1;
    transform: translate3d(0, 0px, 0px);
    transition: opacity 0.3s;
  }

  [data-sidebar-right-show="true"][data-sidebar-right-style="over"] .navbar {
    left: 0;
    width: 100%;
  }

  [data-sidebar-right-show="true"][data-sidebar-right-style="over"] .backdrop-right-sidebar {
    opacity: 1;
    transform: translate3d(0, 0px, 0px);
    transition: opacity 0.3s;
  }
}

[data-sidebar-right-color="primary"] .right-sidebar-content {
  background: #581b98;
  color: #dee2e9;
}

[data-sidebar-right-color="primary"] .right-sidebar-content a {
  color: #dee2e9;
}

[data-sidebar-right-color="light-primary"] .right-sidebar-content {
  background: #7e27d9;
  color: #dee2e9;
}

[data-sidebar-right-color="light-primary"] .right-sidebar-content a {
  color: #dee2e9;
}

[data-sidebar-right-color="dark-primary"] .right-sidebar-content {
  background: #320f57;
  color: #dee2e9;
}

[data-sidebar-right-color="dark-primary"] .right-sidebar-content a {
  color: #dee2e9;
}

[data-sidebar-right-color="secondary"] .right-sidebar-content {
  background: #e00c51;
  color: #6c7580;
}

[data-sidebar-right-color="secondary"] .right-sidebar-content a {
  color: #6c7580;
}

[data-sidebar-right-color="dark-secondary"] .right-sidebar-content {
  background: #970837;
  color: #6c7580;
}

[data-sidebar-right-color="dark-secondary"] .right-sidebar-content a {
  color: #6c7580;
}

[data-sidebar-right-color="success"] .right-sidebar-content {
  background: #2dce89;
  color: #dee2e9;
}

[data-sidebar-right-color="success"] .right-sidebar-content a {
  color: #dee2e9;
}

[data-sidebar-right-color="info"] .right-sidebar-content {
  background: #11cdef;
  color: #dee2e9;
}

[data-sidebar-right-color="info"] .right-sidebar-content a {
  color: #dee2e9;
}

[data-sidebar-right-color="warning"] .right-sidebar-content {
  background: #fb6340;
  color: #dee2e9;
}

[data-sidebar-right-color="warning"] .right-sidebar-content a {
  color: #dee2e9;
}

[data-sidebar-right-color="danger"] .right-sidebar-content {
  background: #f5365c;
  color: #dee2e9;
}

[data-sidebar-right-color="danger"] .right-sidebar-content a {
  color: #dee2e9;
}

[data-sidebar-right-color="white"] .right-sidebar-content {
  background: #fff;
  color: #6c7580;
}

[data-sidebar-right-color="white"] .right-sidebar-content a {
  color: #6c7580;
}

[data-sidebar-right-color="whitish"] .right-sidebar-content {
  background: #fafbfd;
  color: #6c7580;
}

[data-sidebar-right-color="whitish"] .right-sidebar-content a {
  color: #6c7580;
}

[data-sidebar-right-color="light"] .right-sidebar-content {
  background: #dee2e9;
  color: #6c7580;
}

[data-sidebar-right-color="light"] .right-sidebar-content a {
  color: #6c7580;
}

[data-sidebar-right-color="dark"] .right-sidebar-content {
  background: #6c7580;
  color: #dee2e9;
}

[data-sidebar-right-color="dark"] .right-sidebar-content a {
  color: #dee2e9;
}

[data-sidebar-right-color="gray-darker"] .right-sidebar-content {
  background: #495060;
  color: #dee2e9;
}

[data-sidebar-right-color="gray-darker"] .right-sidebar-content a {
  color: #dee2e9;
}

[data-sidebar-right-color="gray-darkest"] .right-sidebar-content {
  background: #212532;
  color: #dee2e9;
}

[data-sidebar-right-color="gray-darkest"] .right-sidebar-content a {
  color: #dee2e9;
}

[data-sidebar-right-color="black"] .right-sidebar-content {
  background: #000;
  color: #dee2e9;
}

[data-sidebar-right-color="black"] .right-sidebar-content a {
  color: #dee2e9;
}

[data-sidebar-right-color="default-color"] .right-sidebar-content {
  background: #0a346d;
  color: #dee2e9;
}

[data-sidebar-right-color="default-color"] .right-sidebar-content a {
  color: #dee2e9;
}

.content-wrapper {
  min-height: 200px;
}

/* (ignored) */
/*# sourceMappingURL=style.css.map*/