<template>
    <base-container boxed with-loader :is-loading="isLoading" :loader-color="vars.loaderColor">
        <form @submit.prevent="submit">
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <switch-wrapper :label="$t('meeting.config.allow_deleting_ended_meetings')">
                        <base-switch v-model="formData.allowDeletingEndedMeetings"></base-switch>
                    </switch-wrapper>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <switch-wrapper :label="$t('meeting.config.allow_deleting_cancelled_meetings')">
                        <base-switch v-model="formData.allowDeletingCancelledMeetings"></base-switch>
                    </switch-wrapper>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <base-input :label="$t('meeting.config.instant_meeting_auto_ended')" type="number" v-model="formData.instantMeetingAutoEnded" :error.sync="formErrors.instantMeetingAutoEnded" select-on-focus @wheel.stop.prevent :addon-right-text="$t('list.general.durations.minutes')" />
                </div>
            </div>

            <h5 class="mb-4 mt-5 pb-2 border-bottom">{{ $t('meeting.config.for_every_meeting') }}</h5>

            <div class="row">
                <div class="col-12 col-md-4 mb-3">
                    <switch-wrapper :label="$t('meeting.config.enable_chat')">
                        <base-switch v-model="formData.enableChat"></base-switch>
                    </switch-wrapper>
                </div>

                <div class="col-12 col-md-4 mb-3">
                    <switch-wrapper :label="$t('meeting.config.enable_screen_sharing')">
                        <base-switch v-model="formData.enableScreenSharing"></base-switch>
                    </switch-wrapper>
                </div>

                <div class="col-12 col-md-4 mb-3">
                    <switch-wrapper :label="$t('meeting.config.enable_recording')">
                        <base-switch v-model="formData.enableRecording"></base-switch>
                    </switch-wrapper>
                </div>

                <div class="col-12 col-md-4 mb-3">
                    <switch-wrapper :label="$t('meeting.config.enable_hand_gesture')">
                        <base-switch v-model="formData.enableHandGesture"></base-switch>
                    </switch-wrapper>
                </div>

                <div class="col-12 col-md-4 mb-3">
                    <switch-wrapper :label="$t('meeting.config.enable_file_sharing')">
                        <base-switch v-model="formData.enableFileSharing"></base-switch>
                    </switch-wrapper>
                </div>

                <div class="col-12 col-md-4 mb-3">
                    <switch-wrapper :label="$t('meeting.config.footer_auto_hide')">
                        <base-switch v-model="formData.footerAutoHide"></base-switch>
                    </switch-wrapper>
                </div>

                <div class="col-12 col-md-4">
                    <base-select :options="layouts" v-model="formData.layout" :label="$t('meeting.config.layout')" :allow-empty="false" preselect-first simple track-by="uuid" show-by="label" />
                </div>
            </div>


            <div class="form-footer mt-5">
                <div class="left-side">
                    <base-button type="button" design="light" @click="$router.back()" tabindex="-1"><i class="fas fa-chevron-left"></i> {{ $t('general.cancel') }}</base-button>
                </div>
                <div class="right-side">
                    <base-button type="button" design="light" @click="reset">{{ $t('general.reset') }}</base-button>
                    <base-button type="submit" design="primary"><i class="fas fa-save"></i> {{ $t('general.save') }}</base-button>
                </div>
            </div>
        </form>
    </base-container>
</template>

<script>
    import form from '@mixins/config-form'
    import { templateStrings } from '@core/utils/templater'

    export default {
        extends: form,
        data() {
            return {
                formData: {
                    enableChat: true,
                    enableScreenSharing: true,
                    enableRecording: true,
                    enableHandGesture: true,
                    footerAutoHide: false,
                    enableFileSharing: true,
                    allowDeletingCancelledMeetings: false,
                    allowDeletingEndedMeetings: false,
                    instantMeetingAutoEnded: 180,
                    layout: 'fullpage',
                    type: 'meeting'
                },
                layouts: [
                    { uuid: 'grid', label: $t('meeting.config.layout_grid') },
                    { uuid: 'gallery', label: $t('meeting.config.layout_gallery') },
                    { uuid: 'fullpage', label: $t('meeting.config.layout_fullpage') },
                ],
            }
        },
        mounted() {
            this.getInitialData()
        },
    }

</script>
