.separator {
    flex: 1;
}

.no-bg,
.bg-transparent,
.bg-color-transparent {
    background-color: transparent !important;
}

.no-border,
.border-transparent,
.border-color-transparent {
    border-color: transparent !important;
}

//opacity
.o-0 {
    opacity: 0 !important;
}

.o-1 {
    opacity: 1 !important;
}

//floats
.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.no-float {
    float: none !important;
}

//center elements
.centered {
    margin: 0 auto !important;
    text-align: center !important;
}

//prevent text wrapping
.no-wrap {
    white-space: nowrap !important;
}

//box shadow
.no-shadow {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

//background
.no-bgi {
    background-image: none !important;
}

.nowrap {
    white-space: nowrap;
}

.min-width-auto {
    min-width: auto !important;
}

.min-width-10 {
    min-width: 10%;
}

.min-width-20 {
    min-width: 20%;
}

.min-width-30 {
    min-width: 30%;
}

.min-width-40 {
    min-width: 40%;
}

.min-width-50 {
    min-width: 50%;
}

.min-width-60 {
    min-width: 60%;
}

.min-width-70 {
    min-width: 70%;
}

.min-width-80 {
    min-width: 80%;
}

.min-width-90 {
    min-width: 90%;
}

.max-width-auto {
    max-width: auto !important;
}

.max-width-10 {
    max-width: 10%;
}

.max-width-20 {
    max-width: 20%;
}

.max-width-30 {
    max-width: 30%;
}

.max-width-40 {
    max-width: 40%;
}

.max-width-50 {
    max-width: 50%;
}

.max-width-60 {
    max-width: 60%;
}

.max-width-70 {
    max-width: 70%;
}

.max-width-80 {
    max-width: 80%;
}

.max-width-90 {
    max-width: 90%;
}

.max-width-100px {
    max-width: 100px;
}
.max-width-150px {
    max-width: 150px;
}
.max-width-200px {
    max-width: 200px;
}
.max-width-250px {
    max-width: 250px;
}
.max-width-300px {
    max-width: 300px;
}
.max-width-350px {
    max-width: 350px;
}
.max-width-400px {
    max-width: 400px;
}
.max-width-450px {
    max-width: 450px;
}
.max-width-500px {
    max-width: 500px;
}


.min-width-20px {
    min-width: 20px;
}

.min-width-30px {
    min-width: 30px;
}

.min-width-40px {
    min-width: 40px;
}

.min-width-50px {
    min-width: 50px;
}

.min-width-60px {
    min-width: 60px;
}

.min-width-70px {
    min-width: 70px;
}

.min-width-80px {
    min-width: 80px;
}

.min-width-100px {
    min-width: 100px;
}
.min-width-150px {
    min-width: 150px;
}
.min-width-200px {
    min-width: 200px;
}
.min-width-250px {
    min-width: 250px;
}
.min-width-300px {
    min-width: 300px;
}
.min-width-350px {
    min-width: 350px;
}
.min-width-400px {
    min-width: 400px;
}
.min-width-450px {
    min-width: 450px;
}
.min-width-500px {
    min-width: 500px;
}


.max-width-5rem {
    max-width: 5rem;
}
.max-width-6rem {
    max-width: 6rem;
}
.max-width-7rem {
    max-width: 7rem;
}
.max-width-8rem {
    max-width: 8rem;
}
.max-width-9rem {
    max-width: 9rem;
}
.max-width-10rem {
    max-width: 10rem;
}
.max-width-12rem {
    max-width: 12rem;
}
.max-width-14rem {
    max-width: 14rem;
}
.max-width-16rem {
    max-width: 16rem;
}
.max-width-18rem {
    max-width: 18rem;
}
.max-width-20rem {
    max-width: 20rem;
}
.max-width-24rem {
    max-width: 24rem;
}
.max-width-28rem {
    max-width: 28rem;
}

.min-width-5rem {
    min-width: 5rem;
}
.min-width-6rem {
    min-width: 6rem;
}
.min-width-7rem {
    min-width: 7rem;
}
.min-width-8rem {
    min-width: 8rem;
}
.min-width-9rem {
    min-width: 9rem;
}
.min-width-10rem {
    min-width: 10rem;
}
.min-width-12rem {
    min-width: 12rem;
}
.min-width-14rem {
    min-width: 14rem;
}
.min-width-16rem {
    min-width: 16rem;
}
.min-width-18rem {
    min-width: 18rem;
}
.min-width-20rem {
    min-width: 20rem;
}
.min-width-24rem {
    min-width: 24rem;
}
.min-width-28rem {
    min-width: 28rem;
}






.max-height-10 {
    max-height: 10%;
}

.max-height-20 {
    max-height: 20%;
}

.max-height-30 {
    max-height: 30%;
}

.max-height-40 {
    max-height: 40%;
}

.max-height-50 {
    max-height: 50%;
}

.max-height-60 {
    max-height: 60%;
}

.max-height-70 {
    max-height: 70%;
}

.max-height-80 {
    max-height: 80%;
}

.max-height-90 {
    max-height: 90%;
}

.max-height-100px {
    max-height: 100px;
}
.max-height-150px {
    max-height: 150px;
}
.max-height-200px {
    max-height: 200px;
}
.max-height-250px {
    max-height: 250px;
}
.max-height-300px {
    max-height: 300px;
}
.max-height-350px {
    max-height: 350px;
}
.max-height-400px {
    max-height: 400px;
}
.max-height-450px {
    max-height: 450px;
}
.max-height-500px {
    max-height: 500px;
}


.min-height-20px {
    min-height: 20px;
}
.min-height-30px {
    min-height: 30px;
}
.min-height-40px {
    min-height: 40px;
}
.min-height-50px {
    min-height: 50px;
}
.min-height-70px {
    min-height: 70px;
}
.min-height-100px {
    min-height: 100px;
}
.min-height-150px {
    min-height: 150px;
}
.min-height-200px {
    min-height: 200px;
}
.min-height-250px {
    min-height: 250px;
}
.min-height-300px {
    min-height: 300px;
}
.min-height-350px {
    min-height: 350px;
}
.min-height-400px {
    min-height: 400px;
}
.min-height-450px {
    min-height: 450px;
}
.min-height-500px {
    min-height: 500px;
}
.min-height-550px {
    min-height: 550px;
}
.min-height-600px {
    min-height: 600px;
}


.max-height-5rem {
    max-height: 5rem;
}
.max-height-6rem {
    max-height: 6rem;
}
.max-height-7rem {
    max-height: 7rem;
}
.max-height-8rem {
    max-height: 8rem;
}
.max-height-9rem {
    max-height: 9rem;
}
.max-height-10rem {
    max-height: 10rem;
}
.max-height-12rem {
    max-height: 12rem;
}
.max-height-14rem {
    max-height: 14rem;
}
.max-height-16rem {
    max-height: 16rem;
}
.max-height-18rem {
    max-height: 18rem;
}
.max-height-20rem {
    max-height: 20rem;
}
.max-height-24rem {
    max-height: 24rem;
}
.max-height-28rem {
    max-height: 28rem;
}

.min-height-5rem {
    min-height: 5rem;
}
.min-height-6rem {
    min-height: 6rem;
}
.min-height-7rem {
    min-height: 7rem;
}
.min-height-8rem {
    min-height: 8rem;
}
.min-height-9rem {
    min-height: 9rem;
}
.min-height-10rem {
    min-height: 10rem;
}
.min-height-12rem {
    min-height: 12rem;
}
.min-height-14rem {
    min-height: 14rem;
}
.min-height-16rem {
    min-height: 16rem;
}
.min-height-18rem {
    min-height: 18rem;
}
.min-height-20rem {
    min-height: 20rem;
}
.min-height-24rem {
    min-height: 24rem;
}
.min-height-28rem {
    min-height: 28rem;
}


.min-height-90vh {
    min-height: 90vh;
}
.min-height-80vh {
    min-height: 80vh;
}
.min-height-70vh {
    min-height: 70vh;
}
.min-height-60vh {
    min-height: 60vh;
}
.min-height-50vh {
    min-height: 50vh;
}
.min-height-40vh {
    min-height: 40vh;
}