<template>
    <base-container with-loader :is-loading="isLoading" :loader-color="vars.loaderColor" :overlay-color="uiConfigs.pageColorSchemeType" loader-size="screen" :class="['meeting-page', {'auto-hide-footer': pageConfigs.footerAutoHide && hasVideos}, {'pulse': recording}]" :data-page-background-color="uiConfigs.pageBackgroundColor" :data-card-background-color="uiConfigs.pageContainerBackgroundColor">

        <template v-if="!duplicateTab">
            <div :class="['meeting-footer', {'has-videos': hasVideos}]" :data-footer-background-color="uiConfigs.leftSidebarColor">

                <div class="logo-wrapper">
                    <app-logo place="sidebar" size="sm" />
                </div>

                <div class="meeting-actions meeting-actions-center" v-if="entity && entity.status && videoList.length">

                    <template v-if="localVideo && pageConfigs.showEnableAudioBtn">
                        <button v-if="pageConfigs.enableAudio" type="button" class="btn action" @click="toggleAudio" v-b-tooltip.hover.d500 :title="$t('meeting.mute_audio')"><i class="fas fa-microphone"></i></button>

                        <button v-else type="button" class="btn action disabled-text" @click="toggleAudio" v-b-tooltip.hover.d500 :title="$t('meeting.unmute_audio')"><i class="fas fa-microphone-slash"></i></button>
                    </template>

                    <template v-if="localVideo && pageConfigs.showEnableVideoBtn">
                        <button v-if="pageConfigs.enableVideo" type="button" class="btn action" @click="toggleVideo" v-b-tooltip.hover.d500 :title="$t('meeting.mute_video')"><i class="fas fa-video"></i></button>

                        <button v-else type="button" class="btn action disabled-text" @click="toggleVideo" v-b-tooltip.hover.d500 :title="$t('meeting.unmute_video')"><i class="fas fa-video-slash"></i></button>
                    </template>

                    <!-- <button type="button" class="btn action d-md-none" @click="switchCamera" v-b-tooltip.hover.d500 :title="$t('meeting.switch_camera')"><i class="fas fa-exchange-alt"></i></button> -->

                    <button type="button" class="btn action" @click="toggleDevicesModal" v-b-tooltip.hover.d500 :title="$t('meeting.media_devices.setup')"><i class="fas fa-cogs"></i></button>

                    <button type="button" class="btn action danger-text" @click="getOffline" v-b-tooltip.hover.d500 :title="$t('meeting.leave_meeting')"><i class="fas fa-phone-slash"></i></button>

                    <template v-if="pageConfigs.enableRecording">
                        <button v-if="recording" type="button" class="btn action danger-text d-none d-md-inline-block" @click="stopRecording" v-b-tooltip.hover.d500 :title="$t('meeting.stop_recording')"><i class="fas fa-stop"></i> <span class="recording_time">{{ recordingDuration }}</span></button>

                        <button v-else type="button" class="btn action d-none d-md-inline-block" @click="startRecording" v-b-tooltip.hover.d500 :title="$t('meeting.start_recording')"><i class="fas fa-circle"></i></button>
                    </template>

                    <template v-if="pageConfigs.enableScreenSharing">
                        <button v-if="localScreenStreamid" type="button" class="btn action disabled-text d-none d-md-inline-block" @click="stopSharingScreen" v-b-tooltip.hover.d500 :title="$t('meeting.stop_sharing_screen')"><i class="fas fa-minus-square"></i></button>

                        <button v-else type="button" class="btn action d-none d-md-inline-block" @click="shareScreen" v-b-tooltip.hover.d500 :title="$t('meeting.share_screen')"><i class="fas fa-desktop"></i></button>
                    </template>

                    <template v-if="pageConfigs.enableHandGesture">
                        <button v-if="isHandUp" type="button" class="btn action success-text d-none d-md-inline-block" @click="toggleHandUp" v-b-tooltip.hover.d500 :title="$t('meeting.lower_hand')"><i class="far fa-hand-paper"></i></button>

                        <button v-else type="button" class="btn action d-none d-md-inline-block" @click="toggleHandUp" v-b-tooltip.hover.d500 :title="$t('meeting.raise_hand')"><i class="fas fa-hand-paper"></i></button>
                    </template>
                </div>

                <div class="meeting-actions meeting-actions-right">
                    <template v-if="entity">

                        <base-dropdown v-if="entity.status && videoList.length" tag="div" class="more-actions" direction="up" menu-classes="show-dropdown-up" position="right">
                            <button slot="title" type="button" class="btn action grid-toggle-btn d-none d-md-inline-block" v-b-tooltip.hover.d500 :title="$t('meeting.change_layout')"><i class="fas fa-th-large"></i></button>
                            
                            <button type="button" class="dropdown-item d-flex justify-content-between align-items-center" @click="toggleLayout('grid')">{{ $t('meeting.show_as_grid') }} <i class="fas fa-check min-width-auto text-light" :class="{'text-dark': pageConfigs.layout === 'grid'}"></i></button>

                            <button type="button" class="dropdown-item d-flex justify-content-between align-items-center" @click="toggleLayout('gallery')">{{ $t('meeting.show_as_gallery') }} <i class="fas fa-check min-width-auto text-light" :class="{'text-dark': pageConfigs.layout === 'gallery'}"></i></button>

                            <button type="button" class="dropdown-item d-flex justify-content-between align-items-center" @click="toggleLayout('fullpage')">{{ $t('meeting.show_fullpage') }} <i v-if="pageConfigs.layout === 'fullpage'" class="fas fa-check min-width-auto text-light" :class="{'text-dark': pageConfigs.layout === 'fullpage'}"></i></button>
                        </base-dropdown>

                        <button type="button" class="btn action" @click="shareURL" v-b-tooltip.hover.d500 :title="$t('general.share')"><i class="fas fa-share-alt"></i></button>

                        <button v-if="pageConfigs.enableChat && configs.chat && configs.chat.enabled && subscriptions && subscriptions.userPrivate && !entity.isBlocked" type="button" :class="['btn action chats-toggle-btn', {'pulse': totalUnreadMessages && totalUnreadMessages > 0 && !isChatBoxShown}]" @click="toggleChatBox" v-b-tooltip.hover.d500 :title="$t((isChatBoxShown ? 'global.hide' : 'global.show'), { attribute: $t('chat.chats')})">
                            <i :class="[isChatBoxShown ? 'fas fa-comment-slash' : 'far fa-comment']"></i>
                            
                            <span v-if="totalUnreadMessages && totalUnreadMessages > 0" class="text-success unread-count">{{ totalUnreadMessages }}</span>

                        </button>
                    </template>

                    <base-dropdown tag="div" class="more-actions" direction="up" menu-classes="show-dropdown-up" position="right">
                        <button slot="title" type="button" class="btn action more-actions-btn"><i class="fas fa-ellipsis-v"></i></button>
                        
                        <button v-if="!(entity && entity.status && videoList.length)" type="button" class="dropdown-item" @click="$router.push({ name: 'appMeetingList'})"><i class="fas fa-chevron-left"></i> {{ $t('general.back') }}</button>
                        <button v-else type="button" class="dropdown-item" @click="getOffline"><i class="fas fa-phone-slash"></i> {{ $t('meeting.leave_meeting') }}</button>

                        <button v-if="entity && entity.status && entity.canModerate && entity.status==='live'" type="button" class="dropdown-item" @click="endMeeting"><i class="fas fa-calendar-times"></i> {{ $t('meeting.end_meeting') }}</button>

                        <button v-if="pageConfigs.hasAgenda" type="button" class="dropdown-item agenda-toggle-btn" @click="toggleAgenda"><i class="fas fa-quote-left"></i> {{ $t((showAgenda ? 'global.hide' : 'global.show'), { attribute: $t('general.agenda')}) }}</button>

                        <button type="button" class="dropdown-item show-devices-btn" @click="toggleDevicesModal"><i class="fas fa-cogs"></i> {{ $t('meeting.media_devices.setup') }}</button>

                        <button v-if="pageConfigs.enableFileSharing && entity && entity.status && videoList.length" type="button" class="dropdown-item file-sharing-btn" @click="toggleFileSharing"><i class="fas fa-upload"></i> {{ $t('upload.share_files') }}</button>

                        <button type="button" class="dropdown-item d-none d-md-block" @click="toggleFooterAutoHide"><i class="fas fa-hourglass-start"></i> {{ $t((pageConfigs.footerAutoHide ? 'meeting.toggle_autohide_off' : 'meeting.toggle_autohide_on')) }}</button>

                        <button v-if="uiConfigs.fullScreen" type="button" class="dropdown-item d-none d-md-block" @click="toggleFullScreen(false)"><i class="fas fa-compress"></i> {{ $t('config.ui.toggle_fullscreen') }}</button>
                        <button v-else type="button" class="dropdown-item d-none d-md-block" @click="toggleFullScreen(true)"><i class="fas fa-expand"></i> {{ $t('config.ui.toggle_fullscreen') }}</button>
                    </base-dropdown>

                    <base-dropdown tag="div" class="more-actions" direction="up" menu-classes="show-dropdown-up" position="right">


                        <button slot="title" type="button" class="btn action grid-toggle-btn d-none d-md-inline-block px-1">
                            <user-avatar v-if="loggedInUser" :user="loggedInUser" :size="40" :color="vars.colors[uiConfigs.topNavbarColor]" />
                        </button>
                            
                        <h6 class="dropdown-header">{{ $t('general.greeting') + ', ' + loggedInUser.name }}</h6>

                        <router-link v-if="loggedInUser" :to="{ name: 'appProfileView' }" class="dropdown-item">
                            <i class="fas fa-user"></i> {{ $t('user.your_profile') }}
                        </router-link>

                        <router-link v-if="!hasPermission('access-config')" :to="{ name: 'appUserPreference' }" class="dropdown-item">
                            <i class="fas fa-user-cog"></i> {{ $t('user.user_preference') }}
                        </router-link>

                        <button v-if="configs.auth.lockScreen" type="button" class="dropdown-item" @click="lock"><i class="fas fa-lock"></i> {{ $t('auth.lock.lock') }}</button>

                        <router-link :to="{ name: 'appUserChangePassword' }" class="dropdown-item">
                            <i class="fas fa-key"></i> {{ $t('auth.password.change_password') }}
                        </router-link>
                        
                        <div role="separator" class="dropdown-divider"></div>
                        <button type="button" class="dropdown-item" @click="logout"><i class="fas fa-power-off"></i> {{ $t('auth.logout') }}</button>
                    </base-dropdown>
                </div>
            </div>


            <div :class="['agenda-streams-container', {'has-agenda': pageConfigs.hasAgenda}, {'agenda-visible': showAgenda} ]">

                <template v-if="pageConfigs.hasAgenda && entity && !entity.isBlocked">
                    <card shadow class="agenda-container" body-classes="agenda-wrapper">

                        <div class="meeting-agenda-container">
                            <vue-scroll ref="vue-scroll-agenda" id="vue-scroll-agenda">
                                <template v-if="entity">
                                    <h4 class="meeting-title" v-once>{{ entity.title }}</h4>

                                    <div class="text-muted mt-3">
                                        <span v-once>{{ $t('meeting.props.type') }}: {{ entity.type.name }},</span>
                                        <span v-once>{{ $t('meeting.meeting_category.category') }}: {{ entity.category.name }}</span>
                                    </div>

                                    <view-paragraph class="mt-3" :label="$t('meeting.props.agenda')" :value="entity.agenda" />

                                    <view-paragraph v-if="entity.description" class="mt-3" :label="$t('meeting.props.description')" :value="entity.description" html />

                                    <view-uploads v-if="entity.attachments" :class="['mt-3', uiConfigs.colorSchemeType]" :label="$t('upload.attachments')" :name-label="$t('upload.attachment')" :value="entity.attachments" download-button-classes="text-gray" :url-prefix="`/meetings/${uuid}/downloads`" />
                                </template>
                            </vue-scroll>
                        </div>
                        
                    </card>
                </template>


                <div :class="['streams-container', hasVideos ? `stream-${pageConfigs.layout}-layout` : '']">

                    <div :class="['video-list', hasVideosClasses]" ref="videoListEle">

                        <template v-if="hasVideos">
                            <div v-for="(item, itemIndex) in videoList" :key="`${item.uuid}${item.id}`" :class="['video-item video-card', {'maximized': item.maximized}, {'local': item.local}, {'screen': item.screen}, {'fullscreen-item': item.id === fullScreenItemId}, {'hand-up': item.isHandUp}, {'audio-muted': item.audioMuted}, {'video-muted': item.videoMuted || !item.hasVideo }, {'no-stream': !item.status}]" @dblclick="changeFocus(item)">

                                <div class="video-wrapper">
                                    <video autoplay playsinline ref="videos" :muted="item.muted" :id="item.id" :poster="item.status  ? null : '/images/video/no-stream.jpg'" :class="[{'no-poster': item.status && !item.videoMuted}]"></video>
                                </div>

                                <div class="caption">
                                    <h6>
                                        <span :class="['text-xs mr-1', {'text-success': item.status}, {'text-danger': !item.status}]"><i class="fas fa-circle"></i></span>

                                        <template v-if="item.local">
                                            {{ item.screen ? $t('meeting.your_screen') : $t('meeting.you') }}
                                        </template>

                                        <template v-else>
                                            {{ item.screen ? `${item.name}${$t('meeting.screen')}` : item.name }}
                                        </template>

                                        <span v-if="!item.status" class="bracketed text-danger">{{ $t('meeting.left') }}</span>
                                    </h6>
                                </div>

                                <div v-if="!item.local" class="custom-controls-wrapper">
                                    <div class="custom-controls">
                                        <div class="status-icon" v-if="item.isHandUp">
                                            <i class="fas fa-hand-paper enabled-text"></i>
                                        </div>
                                        <div class="status-icon" v-if="item.audioMuted && !item.videoMuted">
                                            <i class="fas fa-microphone-slash disabled-text"></i>
                                        </div>
                                        <button v-if="entity.canModerate" @click="kickRemoteUser(item, itemIndex)">
                                            <i class="fas fa-ban enabled-text"></i>
                                        </button>
                                        <button @click="toggleRemoteAudio(item, itemIndex)">
                                            <i :class="['fas', {'fa-volume-up enabled-text': !item.muted}, {'fa-volume-off disabled-text': item.muted}]"></i>
                                        </button>
                                        <!--
                                        <button @click="toggleEleFullScreen(item, itemIndex)">
                                            <i :class="['fas', {'fa-expand': !fullScreenInOn}, {'fa-compress': fullScreenInOn}]"></i>
                                        </button>
                                        -->
                                    </div>
                                </div>

                                <div v-else-if="item.local && item.isHandUp" class="custom-controls-wrapper">
                                    <div class="custom-controls">
                                        <div class="status-icon">
                                            <i class="fas fa-hand-paper enabled-text"></i>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </template>


                        <card v-else shadow class="video-item wait-box maximized">
                            <template v-if="entity && !entity.isBlocked">

                                <template v-if="entity.status === 'scheduled'">

                                    <flip-countdown class="my-3" v-if="startDateTimeIsFuture" :deadline="entity.startDateTime" />

                                    <template v-else>
                                        <template v-if="entity.canModerate">
                                            <h5 class="text-muted text-center my-3">
                                                {{ $t('meeting.waiting_for_you_to_start') }}
                                            </h5>

                                            <div class="d-flex justify-content-center my-3">
                                                <base-button type="button" design="primary" size="lg" @click="getOnline">{{ $t('global.click_to', { attribute: $t('meeting.get_live') }) }}</base-button>
                                            </div>
                                        </template>

                                        <h5 v-else class="text-muted text-center my-3">
                                            {{ $t('meeting.starting_any_time_now') }}
                                        </h5>
                                    </template>

                                    <div class="text-center my-3">
                                        <span class="text-muted">{{ $t('meeting.scheduled_for') }}</span><span class="text-muted-lg m-l-5" v-b-tooltip.hover.d500 :title="entity.startDateTime | momentDateTime">{{ entity.startDateTime | momentCalendar({ sameElse: vars.defaultDateTimeFormat }) }}</span>
                                    </div>

                                    <div v-if="liveMembersCount > 0" class="text-muted text-center my-3">
                                        <span class="text-xs text-success mr-1"><i class="fas fa-circle"></i></span>
                                        <animated-number :number="liveMembersCount" :delay="100" />
                                        <span v-if="liveMembersCount>1">{{ $t('meeting.members_online') }}</span>
                                        <span v-else>{{ $t('meeting.member_online') }}</span>
                                    </div>

                                    <template v-if="entity.canModerate">
                                        <div class="d-flex justify-content-center my-3">
                                            <base-button type="button" design="gray-darker" size="sm" @click="cancelMeeting">
                                                <i class="fas fa-times m-r-5"></i> {{ $t('meeting.cancel') }}</base-button>

                                            <base-dropdown tag="div" size="sm" direction="up">
                                                <base-button slot="title" type="button" design="gray-darker" size="sm" data-toggle="dropdown" role="button">
                                                    <i class="far fa-clock m-r-5"></i>
                                                    <span class="nav-link-inner--text">{{ $t('meeting.snooze') }}</span>
                                                    <i class="fas fa-chevron-up m-l-5"></i>
                                                </base-button>

                                                <template>
                                                    <button type="button" class="dropdown-item" v-for="opt in snoozeOpts" @click="snoozeMeeting(opt.uuid)">{{ opt.name }} {{ $t(`list.general.durations.${opt.type}`) }}</button>
                                                </template>
                                            </base-dropdown>
                                        </div>
                                    </template>

                                </template>


                                <template v-else-if="entity.status === 'live'">
                                    <template v-if="roomIdAlive">
                                        <h5 class="text-muted text-center my-3">
                                            {{ $t('meeting.is_live_now') }}
                                        </h5>

                                        <div class="d-flex justify-content-center my-3">
                                            <base-button type="button" design="primary" size="lg" @click="getOnline">{{ $t('global.click_to', { attribute: $t('meeting.get_live') }) }}</base-button>
                                        </div>
                                    </template>

                                    <template v-else>
                                        <template v-if="entity.canModerate">
                                            <h5 class="text-muted text-center my-3">
                                                {{ $t('meeting.waiting_for_you_to_start') }}
                                            </h5>

                                            <div class="d-flex justify-content-center my-3">
                                                <base-button type="button" design="primary" size="lg" @click="getOnline">{{ $t('global.click_to', { attribute: $t('meeting.get_live') }) }}</base-button>
                                            </div>
                                        </template>

                                        <h5 v-else class="text-muted text-center my-3">
                                            {{ $t('meeting.starting_any_time_now') }}
                                        </h5>
                                    </template>

                                    <div v-if="liveMembersCount > 0" class="text-muted text-center my-3">
                                        <span class="text-xs text-success mr-1"><i class="fas fa-circle"></i></span>
                                        <animated-number :number="liveMembersCount" :delay="100" />
                                        <span v-if="liveMembersCount>1">{{ $t('meeting.members_online') }}</span>
                                        <span v-else>{{ $t('meeting.member_online') }}</span>
                                    </div>
                                </template>


                                <template v-else-if="entity.status === 'cancelled'">
                                    <h4 class="text-muted text-center my-3">
                                        {{ $t('meeting.meeting_cancelled') }}
                                    </h4>

                                    <div class="d-flex justify-content-center">
                                        <base-button type="button" design="light" size="lg" @click="$router.push({ name: 'appMeetingList'})">{{ $t('global.click_to', { attribute: $t('general.go_back') }) }}</base-button>
                                    </div>
                                </template>

                                <template v-else-if="entity.status === 'ended'">
                                    <h4 class="text-muted text-center my-3">
                                        {{ $t('meeting.meeting_ended') }}
                                    </h4>

                                    <div class="d-flex justify-content-center">
                                        <base-button type="button" design="light" size="lg" @click="$router.push({ name: 'appMeetingList'})">{{ $t('global.click_to', { attribute: $t('general.go_back') }) }}</base-button>
                                    </div>
                                </template>

                            </template>

                            <template v-else>
                                <h3 v-if="entity" class="text-center text-danger my-3">
                                    {{ $t('meeting.not_allowed') }}
                                </h3>
                            </template>
                        </card>


                    </div>

                </div>
            </div>

            
            <div class="chat-box-container" v-if="pageConfigs.enableChat && configs.chat && configs.chat.enabled && entity && !entity.isBlocked">
                <chat-box v-if="isChatBoxShown" :box-visibility="isChatBoxShown" :meeting="entity" :channel="subscriptions.userPrivate" @boxHidden="isChatBoxShown = false" @boxShown="isChatBoxShown = true" />
            </div>


            <b-modal size="md" centered lazy :busy="isLoading" id="devicesModal" v-model="showDevicesModal" no-close-on-backdrop no-close-on-esc ok-only @ok="onDevicesModalOK">
                <template slot="modal-header">
                    <h5 class="modal-title">{{ $t('meeting.media_devices.video_and_audio_devices') }}</h5>
                </template>
                <div>
                    <base-select :options="mediaDevices.audioInput" v-model="mediaConfigurations.selectedAudioInput" :label="$t('meeting.media_devices.audio_input')" :allow-empty="false" preselect-first />
                    <base-select :options="mediaDevices.videoInput" v-model="mediaConfigurations.selectedVideoInput" :label="$t('meeting.media_devices.video_input')" :allow-empty="false" preselect-first />

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <base-select :options="mediaDevices.resolutions" v-model="mediaConfigurations.selectedResolution" :label="$t('meeting.media_devices.video_resolution')" :allow-empty="false" preselect-first simple track-by="label" show-by="label" />
                        </div>
                        <div class="col-12 col-md-4">
                            <base-select :options="mediaDevices.frameRates" v-model="mediaConfigurations.frameRate" :label="$t('meeting.media_devices.frame_rate')" :allow-empty="false" preselect-first simple track-by="uuid" show-by="label" />
                        </div>
                        <div class="col-12 col-md-4">
                            <base-select :options="mediaDevices.facingModes" v-model="mediaConfigurations.facingMode" :label="$t('meeting.media_devices.facing_mode')" :allow-empty="false" preselect-first simple track-by="uuid" show-by="label" />
                        </div>

                        <div class="col-12"><h6 class="mt-2 pb-1">{{ $t('meeting.media_devices.bitrates') }}</h6></div>

                        <div class="col-12 col-sm-4">
                            <base-input :label="$t('meeting.media_devices.audio')" type="number"  v-model="mediaConfigurations.bandwidth.audio" :min="6" :max="510" />
                        </div>

                        <div class="col-12 col-sm-4">
                            <base-input :label="$t('meeting.media_devices.video')" type="number"  v-model="mediaConfigurations.bandwidth.video" :min="100" :max="2000" />
                        </div>

                        <div class="col-12 col-sm-4">
                            <base-input :label="$t('meeting.media_devices.screen')" type="number"  v-model="mediaConfigurations.bandwidth.screen" :min="300" :max="4000" />
                        </div>
                    </div>
                </div>
            </b-modal>


            <div :class="['files-sharing-box d-none', {'d-md-flex': showFileSharing}]">
                <card shadow class="files-container" body-classes="files-wrapper">
                    <file-sharer :connection="fileSharingConnection" @hide="showFileSharing=false" @show="showFileSharing=true" />
                </card>
            </div>

        </template>

        <card v-else shadow class="duplicate-tab d-flex justify-content-center align-items-center min-height-90vh">
            <h2>{{ $t('meeting.duplicate_tab') }}</h2>
        </card>
    </base-container>
</template>

<script>
    import user from '@mixins/user-dropdown'
    import meeting from '@mixins/meeting'
    import live from '@mixins/live'

    import AppLogo from '@components/AppLogo'
    import AnimatedNumber from '@core/components/AnimatedNumber'
    import FlipCountdown from 'vue2-flip-countdown'
    import FileSharer from '@components/FileSharer'

    export default {
        mixins: [live, meeting, user],
        components: {
            AppLogo,
            AnimatedNumber,
            FlipCountdown,
            FileSharer,
        },
        watch: {
            locked(newVal, oldVal) {
                if(newVal) {
                    const toPath = this.$route.fullPath
                    this.$router.push({ name: 'authLock', query: { ref: toPath } })
                }
            },
        },
        methods: {
        }
    }
</script>

<style lang="scss">
    .files-sharing-box {
        position: fixed;
        top: 0;
        left: 0;
        width: 35vw;
        height: 100vh;
        z-index: 1;

        .files-container {
            width: 100%;
            height: 100%;
            background-color: rgba(255,255,255,0.85);
            padding-bottom: 60px;
            opacity: 0.85;

            .files-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        &:hover {
            .files-container {
                opacity: 1;
            }
        }
    }
</style>