<template>
    <base-container with-loader :is-loading="isLoading" :loader-color="vars.loaderColor" :overlay-color="uiConfigs.pageColorSchemeType" loader-size="screen" :class="['meeting-page', {'auto-hide-footer': footerAutoHide && hasVideos}, {'pulse': pageConfigs.recording}]" :data-page-background-color="uiConfigs.pageBackgroundColor" :data-card-background-color="uiConfigs.pageContainerBackgroundColor">

        <template v-if="!duplicateTab">
            <div :class="['meeting-footer', {'has-videos': hasVideos}]" :data-footer-background-color="uiConfigs.leftSidebarColor">

                <div class="logo-wrapper">
                    <app-logo place="sidebar" size="sm" />
                </div>

                <div class="meeting-actions meeting-actions-center" v-if="entity && entity.status && videoList.length">

                    <template v-if="localVideo && pageConfigs.showEnableAudioBtn">
                        <button v-if="pageConfigs.enableAudio" type="button" class="btn action" @click="toggleAudio" v-b-tooltip.hover.d500 :title="$t('meeting.mute_audio')"><i class="fas fa-microphone"></i></button>

                        <button v-else type="button" class="btn action disabled-text" @click="toggleAudio" v-b-tooltip.hover.d500 :title="$t('meeting.unmute_audio')"><i class="fas fa-microphone-slash"></i></button>
                    </template>

                    <template v-if="localVideo && pageConfigs.showEnableVideoBtn">
                        <button v-if="pageConfigs.enableVideo" type="button" class="btn action" @click="toggleVideo" v-b-tooltip.hover.d500 :title="$t('meeting.mute_video')"><i class="fas fa-video"></i></button>

                        <button v-else type="button" class="btn action disabled-text" @click="toggleVideo" v-b-tooltip.hover.d500 :title="$t('meeting.unmute_video')"><i class="fas fa-video-slash"></i></button>
                    </template>

                    <button type="button" class="btn action danger-text" @click="getOffline" v-b-tooltip.hover.d500 :title="$t('meeting.leave_meeting')"><i class="fas fa-phone-slash"></i></button>

                    <template v-if="pageConfigs.showRecordingBtn">
                        <button v-if="pageConfigs.recording" type="button" class="btn action danger-text d-none d-md-inline-block" @click="stopRecording" v-b-tooltip.hover.d500 :title="$t('meeting.stop_recording')"><i class="fas fa-stop"></i> <span class="recording_time">{{ recordingDuration }}</span></button>

                        <button v-else type="button" class="btn action d-none d-md-inline-block" @click="startRecording" v-b-tooltip.hover.d500 :title="$t('meeting.start_recording')"><i class="fas fa-circle"></i></button>
                    </template>

                    <template v-if="pageConfigs.showShareScreenBtn">
                        <button v-if="localScreenStreamid" type="button" class="btn action disabled-text d-none d-md-inline-block" @click="stopSharingScreen" v-b-tooltip.hover.d500 :title="$t('meeting.stop_sharing_screen')"><i class="fas fa-minus-square"></i></button>

                        <button v-else type="button" class="btn action d-none d-md-inline-block" @click="shareScreen" v-b-tooltip.hover.d500 :title="$t('meeting.share_screen')"><i class="fas fa-desktop"></i></button>
                    </template>

                    <template v-if="pageConfigs.showHandBtn">
                        <button v-if="pageConfigs.isHandUp" type="button" class="btn action success-text d-none d-md-inline-block" @click="toggleHandUp" v-b-tooltip.hover.d500 :title="$t('meeting.lower_hand')"><i class="far fa-hand-paper"></i></button>

                        <button v-else type="button" class="btn action d-none d-md-inline-block" @click="toggleHandUp" v-b-tooltip.hover.d500 :title="$t('meeting.raise_hand')"><i class="fas fa-hand-paper"></i></button>
                    </template>
                </div>

                <div class="meeting-actions meeting-actions-right">
                    <template v-if="entity">
                        <button v-if="entity.status && videoList.length" type="button" :class="['btn action grid-toggle-btn d-none d-md-inline-block', {'disabled-text': pageConfigs.streamGrid}]" @click="toggleStreamGrid" v-b-tooltip.hover.d500 :title="$t(pageConfigs.streamGrid ? 'meeting.show_fullscreen' : 'meeting.show_as_grid')"><i class="fas fa-th-large"></i></button>

                        <button type="button" class="btn action" @click="shareURL" v-b-tooltip.hover.d500 :title="$t('general.share')"><i class="fas fa-share-alt"></i></button>

                        <button v-if="configs.chat && configs.chat.enabled && entity.config && entity.config.enableComments && subscriptions && subscriptions.userPrivate && !entity.isBlocked" type="button" :class="['btn action chats-toggle-btn', {'pulse': totalUnreadMessages && totalUnreadMessages > 0 && !isChatBoxShown}]" @click="toggleChatBox" v-b-tooltip.hover.d500 :title="$t((isChatBoxShown ? 'global.hide' : 'global.show'), { attribute: $t('chat.chats')})">
                            <i :class="[isChatBoxShown ? 'fas fa-comment-slash' : 'far fa-comment']"></i>
                            
                            <span v-if="totalUnreadMessages && totalUnreadMessages > 0" class="text-success unread-count">{{ totalUnreadMessages }}</span>

                        </button>
                    </template>

                    <base-dropdown tag="div" class="more-actions" direction="up" menu-classes="show-dropdown-up" position="right">
                        <button slot="title" type="button" class="btn action more-actions-btn"><i class="fas fa-ellipsis-v"></i></button>
                        
                        <button v-if="!(entity && entity.status && videoList.length)" type="button" class="dropdown-item" @click="$router.push({ name: 'appMeetingList'})"><i class="fas fa-chevron-left"></i> {{ $t('general.back') }}</button>
                        <button v-else type="button" class="dropdown-item" @click="getOffline"><i class="fas fa-phone-slash"></i> {{ $t('meeting.leave_meeting') }}</button>

                        <button v-if="entity && entity.status && entity.canModerate && entity.status==='live'" type="button" class="dropdown-item" @click="endMeeting"><i class="fas fa-calendar-times"></i> {{ $t('meeting.end_meeting') }}</button>

                        <button v-if="pageConfigs.hasAgenda" type="button" class="dropdown-item agenda-toggle-btn" @click="toggleAgenda"><i class="fas fa-quote-left"></i> {{ $t((pageConfigs.showAgenda ? 'global.hide' : 'global.show'), { attribute: $t('general.agenda')}) }}</button>

                        <button type="button" class="dropdown-item d-none d-md-block" @click="toggleFooterAutoHide"><i class="fas fa-hourglass-start"></i> {{ $t((footerAutoHide ? 'meeting.toggle_autohide_off' : 'meeting.toggle_autohide_on')) }}</button>

                        <button v-if="uiConfigs.fullScreen" type="button" class="dropdown-item d-none d-md-block" @click="toggleFullScreen(false)"><i class="fas fa-compress"></i> {{ $t('config.ui.toggle_fullscreen') }}</button>
                        <button v-else type="button" class="dropdown-item d-none d-md-block" @click="toggleFullScreen(true)"><i class="fas fa-expand"></i> {{ $t('config.ui.toggle_fullscreen') }}</button>
                    </base-dropdown>
                </div>
            </div>


            <div :class="['agenda-streams-container', {'has-agenda': pageConfigs.hasAgenda}, {'agenda-visible': pageConfigs.showAgenda} ]">

                <template v-if="pageConfigs.hasAgenda && entity && !entity.isBlocked">
                    <card shadow class="agenda-container" body-classes="agenda-wrapper">

                        <div class="meeting-agenda-container">
                            <vue-scroll ref="vue-scroll-agenda" id="vue-scroll-agenda">
                                <template v-if="entity">
                                    <h4 class="meeting-title" v-once>{{ entity.title }}</h4>

                                    <div class="text-muted mt-3">
                                        <span v-once>{{ $t('meeting.props.type') }}: {{ entity.type.name }},</span>
                                        <span v-once>{{ $t('meeting.meeting_category.category') }}: {{ entity.category.name }}</span>
                                    </div>

                                    <view-paragraph class="mt-3" :label="$t('meeting.props.agenda')" :value="entity.agenda" />

                                    <view-paragraph v-if="entity.description" class="mt-3" :label="$t('meeting.props.description')" :value="entity.description" html />

                                    <view-uploads v-if="entity.attachments" :class="['mt-3', uiConfigs.colorSchemeType]" :label="$t('upload.attachments')" :name-label="$t('upload.attachment')" :value="entity.attachments" download-button-classes="text-gray" :url-prefix="`/meetings/${uuid}/downloads`" />
                                </template>
                            </vue-scroll>
                        </div>

                        <!-- <comments class="comments-wrapper" v-else-if="entity.config && entity.config.enableComments && isChatBoxShown" :is-dark="pageConfigs.isDark" :is-loading="isLoading" :user="user" :meeting="entity" :members="membersLive" :channel="this.channel" /> -->
                    </card>
                </template>


                <div :class="['streams-container', {'fullpage-stream': !pageConfigs.streamGrid}]">

                    <div :class="['video-list', hasVideosClasses]" ref="videoListEle">

                        <template v-if="hasVideos">
                            <div v-for="(item, itemIndex) in videoList" :key="`${item.uuid}${item.id}`" :class="['video-item video-card', {'maximized': item.maximized}, {'local': item.local}, {'screen': item.screen}, {'fullscreen-item': item.id === fullScreenItemId}, {'hand-up': item.isHandUp}, {'audio-muted': item.audioMuted}, {'video-muted': item.videoMuted || !item.hasVideo }, {'no-stream': !item.status}]" @dblclick="changeFocus(item)">

                                <div class="video-wrapper">
                                    <video autoplay playsinline ref="videos" :muted="item.muted" :id="item.id" :poster="item.status  ? null : '/images/video/no-stream.jpg'" :class="[{'no-poster': item.status && !item.videoMuted}]"></video>
                                </div>

                                <div class="caption">
                                    <h6>
                                        <span :class="['text-xs mr-1', {'text-success': item.status}, {'text-danger': !item.status}]"><i class="fas fa-circle"></i></span>

                                        <template v-if="item.local">
                                            {{ item.screen ? $t('meeting.your_screen') : $t('meeting.you') }}
                                        </template>

                                        <template v-else>
                                            {{ item.screen ? `${item.name}${$t('meeting.screen')}` : item.name }}
                                        </template>

                                        <span v-if="!item.status" class="bracketed text-danger">{{ $t('meeting.left') }}</span>
                                    </h6>
                                </div>

                                <div v-if="!item.local" class="custom-controls-wrapper">
                                    <div class="custom-controls">
                                        <div class="status-icon" v-if="item.isHandUp">
                                            <i class="fas fa-hand-paper enabled-text"></i>
                                        </div>
                                        <div class="status-icon" v-if="item.audioMuted && !item.videoMuted">
                                            <i class="fas fa-microphone-slash disabled-text"></i>
                                        </div>
                                        <button v-if="entity.canModerate" @click="kickRemoteUser(item, itemIndex)">
                                            <i class="fas fa-ban enabled-text"></i>
                                        </button>
                                        <button @click="toggleRemoteAudio(item, itemIndex)">
                                            <i :class="['fas', {'fa-volume-up enabled-text': !item.muted}, {'fa-volume-off disabled-text': item.muted}]"></i>
                                        </button>
                                        <!--
                                        <button @click="toggleEleFullScreen(item, itemIndex)">
                                            <i :class="['fas', {'fa-expand': !fullScreenInOn}, {'fa-compress': fullScreenInOn}]"></i>
                                        </button>
                                        -->
                                    </div>
                                </div>

                                <div v-else-if="item.local && item.isHandUp" class="custom-controls-wrapper">
                                    <div class="custom-controls">
                                        <div class="status-icon">
                                            <i class="fas fa-hand-paper enabled-text"></i>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </template>


                        <card v-else shadow class="video-item wait-box maximized">
                            <template v-if="entity && !entity.isBlocked">

                                <template v-if="entity.status === 'scheduled'">

                                    <flip-countdown class="my-3" v-if="startDateTimeIsFuture" :deadline="entity.startDateTime" />

                                    <template v-else>
                                        <template v-if="entity.canModerate">
                                            <h5 class="text-muted text-center my-3">
                                                {{ $t('meeting.waiting_for_you_to_start') }}
                                            </h5>

                                            <div class="d-flex justify-content-center my-3">
                                                <base-button type="button" design="primary" size="lg" @click="getOnline">{{ $t('global.click_to', { attribute: $t('meeting.get_live') }) }}</base-button>
                                            </div>
                                        </template>

                                        <h5 v-else class="text-muted text-center my-3">
                                            {{ $t('meeting.starting_any_time_now') }}
                                        </h5>
                                    </template>

                                    <div class="text-center my-3">
                                        <span class="text-muted">{{ $t('meeting.scheduled_for') }}</span><span class="text-muted-lg m-l-5" v-b-tooltip.hover.d500 :title="entity.startDateTime | momentDateTime">{{ entity.startDateTime | momentCalendar({ sameElse: vars.defaultDateTimeFormat }) }}</span>
                                    </div>

                                    <div v-if="liveMembersCount > 0" class="text-muted text-center my-3">
                                        <span class="text-xs text-success mr-1"><i class="fas fa-circle"></i></span>
                                        <animated-number :number="liveMembersCount" :delay="100" />
                                        <span v-if="liveMembersCount>1">{{ $t('meeting.members_online') }}</span>
                                        <span v-else>{{ $t('meeting.member_online') }}</span>
                                    </div>

                                    <template v-if="entity.canModerate">
                                        <div class="d-flex justify-content-center my-3">
                                            <base-button type="button" design="gray-darker" size="sm" @click="cancelMeeting">
                                                <i class="fas fa-times m-r-5"></i> {{ $t('meeting.cancel') }}</base-button>

                                            <base-dropdown tag="div" size="sm" direction="up">
                                                <base-button slot="title" type="button" design="gray-darker" size="sm" data-toggle="dropdown" role="button">
                                                    <i class="far fa-clock m-r-5"></i>
                                                    <span class="nav-link-inner--text">{{ $t('meeting.snooze') }}</span>
                                                    <i class="fas fa-chevron-up m-l-5"></i>
                                                </base-button>

                                                <template>
                                                    <button type="button" class="dropdown-item" v-for="opt in snoozeOpts" @click="snooze(opt.uuid)">{{ opt.name }} {{ $t(`list.general.durations.${opt.type}`) }}</button>
                                                </template>
                                            </base-dropdown>
                                        </div>
                                    </template>

                                </template>


                                <template v-else-if="entity.status === 'live'">
                                    <template v-if="roomIdAlive">
                                        <h5 class="text-muted text-center my-3">
                                            {{ $t('meeting.is_live_now') }}
                                        </h5>

                                        <div class="d-flex justify-content-center my-3">
                                            <base-button type="button" design="primary" size="lg" @click="getOnline">{{ $t('global.click_to', { attribute: $t('meeting.get_live') }) }}</base-button>
                                        </div>
                                    </template>

                                    <template v-else>
                                        <template v-if="entity.canModerate">
                                            <h5 class="text-muted text-center my-3">
                                                {{ $t('meeting.waiting_for_you_to_start') }}
                                            </h5>

                                            <div class="d-flex justify-content-center my-3">
                                                <base-button type="button" design="primary" size="lg" @click="getOnline">{{ $t('global.click_to', { attribute: $t('meeting.get_live') }) }}</base-button>
                                            </div>
                                        </template>

                                        <h5 v-else class="text-muted text-center my-3">
                                            {{ $t('meeting.starting_any_time_now') }}
                                        </h5>
                                    </template>

                                    <div v-if="liveMembersCount > 0" class="text-muted text-center my-3">
                                        <span class="text-xs text-success mr-1"><i class="fas fa-circle"></i></span>
                                        <animated-number :number="liveMembersCount" :delay="100" />
                                        <span v-if="liveMembersCount>1">{{ $t('meeting.members_online') }}</span>
                                        <span v-else>{{ $t('meeting.member_online') }}</span>
                                    </div>
                                </template>


                                <template v-else-if="entity.status === 'cancelled'">
                                    <h4 class="text-muted text-center my-3">
                                        {{ $t('meeting.meeting_cancelled') }}
                                    </h4>

                                    <div class="d-flex justify-content-center">
                                        <base-button type="button" design="light" size="lg" @click="$router.push({ name: 'appMeetingList'})">{{ $t('global.click_to', { attribute: $t('general.go_back') }) }}</base-button>
                                    </div>
                                </template>

                                <template v-else-if="entity.status === 'ended'">
                                    <h4 class="text-muted text-center my-3">
                                        {{ $t('meeting.meeting_ended') }}
                                    </h4>

                                    <div class="d-flex justify-content-center">
                                        <base-button type="button" design="light" size="lg" @click="$router.push({ name: 'appMeetingList'})">{{ $t('global.click_to', { attribute: $t('general.go_back') }) }}</base-button>
                                    </div>
                                </template>

                            </template>

                            <template v-else>
                                <h3 class="text-center text-danger my-3">
                                    {{ $t('meeting.not_allowed') }}
                                </h3>
                            </template>
                        </card>


                    </div>

                </div>
            </div>

            
            <div class="chat-box-container" v-if="configs.chat && configs.chat.enabled">
                <chat-box v-if="entity && entity.config && entity.config.enableComments && !entity.isBlocked && isChatBoxShown" :box-visibility="isChatBoxShown" :meeting="entity" :channel="subscriptions.userPrivate" @boxHidden="isChatBoxShown = false" @boxShown="isChatBoxShown = true" />
            </div>

        </template>


        <card v-else shadow class="duplicate-tab d-flex justify-content-center align-items-center min-height-90vh">
            <h2>{{ $t('meeting.duplicate_tab') }}</h2>
        </card>
    </base-container>
</template>

<script>
    import meeting from '@mixins/meeting'
    import live from '@mixins/live'

    import FlipCountdown from 'vue2-flip-countdown'

    export default {
        mixins: [live, meeting],
        components: {
            FlipCountdown,
        },
    }
</script>
