<template>
    <base-container boxed class="pt-150 pb-150 text-center mt-element">
        <template v-if="type && isLoading">
            <animated-loader :is-loading="isLoading" :loader-color="vars.loaderColor" size="inline" :with-overlay="false" />
            <br>
            <br>
            <h5>{{ $t('meeting.creating_a_meeting') }}</h5>
        </template>

        <template v-else>
            <h5>{{ $t('meeting.select_meeting_type') }}</h5>
            <br>
            <div class="btn-group btn-group-vertical btn-group-lg" role="group">
                <button type="button" class="btn btn-light" v-for="type in preRequisite.types" @click="startInstantMeeting(type.uuid)">{{ type.name }}</button>
            </div>
        </template>
    </base-container>
</template>

<script>
    import { mapActions } from 'vuex'
    import form from '@mixins/form'

    export default {
        extends: form,
        data() {
            return {
                initUrl: 'meetings',
                type: null,
                preRequisite: {
                    types: [],
                },
            }
        },
        methods: {
            ...mapActions('config', [
                'SetUiConfig',
            ]),
            startInstantMeeting(type = null) {
                if(type) {
                    this.type = type
                }

                this.Store({
                        instant: true,
                        type: this.type,
                    })
                    .then(response => {
                        if(response.meeting) {

                            this.$router.replace({ name: 'liveMeeting', params: { uuid: response.meeting.uuid }})
                        }
                    })
                    .catch(error => {
                        this.$router.back()
                        formUtil.handleErrors(error)
                    })
            },
        },
        mounted() {
            if (this.$route.params.type) {
                this.type = this.$route.params.type
            }

            this.getInitialData(() => {
                if(this.preRequisite.types.includes(this.type)) {
                    this.startInstantMeeting()
                }
            }) 

            this.$nextTick(() => {
                this.SetUiConfig({ pageHeaderShow: false })
            })
        },
        destroyed() {
            this.SetUiConfig({ pageHeaderShow: true })
        },
    }

</script>
