.meeting-page {

    &.base-container {
        width: 100vw;
        max-width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0;
        margin: 0;
        padding-bottom: $navbar-height;
    }

    .meeting-footer {
        position: fixed;
        bottom: -1px;
        left: 0;
        z-index: 5;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        height: $navbar-height;
        user-select: none;

        .logo-wrapper {
            display: flex;
            align-items: center;
            padding-left: $margin-common;
        }


        .meeting-actions {
            display: flex;
        }

        .meeting-actions-center {
            justify-content: center;
            text-align: center;
        }

        .meeting-actions-right {
            justify-content: flex-end;
            text-align: right;
        }

        .meeting-actions {
            &>.separator {
                width: 2px;
                max-width: 2px;
                border-left: 2px solid rgba(0, 0, 0, 0.1);
                background: rgba(0, 0, 0, 0.05);
            }

            &>.btn,
            &>.dropdown>.btn {
                box-shadow: none;
                font-size: 1rem;
                margin-right: 0;

                &:hover {
                    box-shadow: none;
                    background: rgba(0, 0, 0, 0.3);
                }

                &:active {
                    background: rgba(0, 0, 0, 0.6);
                    box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 0.1);
                }

                &.danger-text {
                    color: $danger;

                    &:hover {
                        color: $danger;
                    }
                }

                &.disabled-text {
                    color: rgba($white, 0.3);

                    &:hover {
                        color: rgba($white, 0.6);
                    }
                }

                &.success-text, &.enabled-text {
                    color: $success;

                    &:hover {
                        color: $success;
                    }
                }
            }

            &>.dropdown>.btn {
                height: 100%;
            }

            .agenda-toggle-btn {
                display: none;
            }

            .unread-count {
                position: absolute;
                right: 10px;
                bottom: 4px;
                min-width: 35px;
                display: block;
                font-size: 75%;
                text-align: right;
            }
        }

        &.has-videos {
            .logo-wrapper {
                display: none;
            }

            .meeting-actions {
                justify-content: space-around;
            }
        }
    }

    .agenda-streams-container {
        .agenda-container {
            display: none;
        }

        &.has-agenda.agenda-visible {
            .agenda-container {
                display: block;
            }
        }
    }

    .video-list {
        position: relative;
        display: flex;
        flex-direction: column;

        .video-item {
            position: relative;
            margin-bottom: $spacer;
            padding: 0;

            .card-body {
                padding: 0;
                display: flex;
                flex-direction: column;
            }

            .video-wrapper {
                position: relative;
                display: flex;
            }

            video {
                width: 100%;
                max-width: 100%;
                height: auto;
                max-height: fit-content;
                border-radius: $border-radius-sm;

                &.no-poster {
                    background: $black;
                }
            }

            video::-webkit-media-controls {
                display: none !important;
            }

            video::-webkit-media-controls-enclosure {
                display: none !important;
            }

            .caption {
                user-select: none;
                position: absolute;
                bottom: 5px;
                left: 0;
                width: 100%;
                display: flex;
                justify-content: center;

                h6 {
                    padding: 0.3rem 0.8rem;
                    background: rgba(0, 0, 0, 0.6);
                    color: $white;
                    border-radius: $border-radius-sm;
                    margin-bottom: 0;
                    font-size: 0.80rem;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            .custom-controls-wrapper {
                position: absolute;
                top: 5px;
                right: 5px;
                left: auto;
                bottom: auto;
                // z-index: 2147483647;
                padding: 0.5rem;

                .custom-controls {
                    display: flex;
                    background: rgba(0, 0, 0, 0.4);
                    transition: $transition-all-ease;
                    border-radius: 5px;
                    overflow: hidden;

                    .status-icon {
                        background: transparent;
                        border: none;
                        color: white;
                        margin: 0;
                        width: 30px;
                        text-align: center;
                        transition: $transition-all-ease;
                        
                        i.enabled-text {
                            color: $success;
                        }

                        i.disabled-text {
                            color: $danger;
                        }
                    }

                    button {
                        background: transparent;
                        border: none;
                        color: white;
                        margin: 0;
                        width: 30px;
                        text-align: center;
                        transition: $transition-all-ease;

                        &:hover {
                            background: rgba(255, 255, 255, 0.3);

                            i.enabled-text {
                                color: $success;
                            }

                            i.disabled-text {
                                color: $danger;
                            }
                        }

                        &:active {
                            background: rgba(0, 0, 0, 1);
                        }

                        &+button {
                            border-left: $border-width solid rgba(255, 255, 255, 0.1);
                        }

                        &:first-child {
                            border-radius: 5px 0 0 5px;
                        }

                        &:last-child {
                            border-radius: 0 5px 5px 0;
                        }
                    }
                }
            }

            &.maximized {
                order: -2;

                .caption {
                    bottom: 5px;
                }
            }

            &.local {
                order: 9998;
            }

            &.agenda-card {
                padding: $spacer;
                order: 9999;
            }



            &.video-muted,
            &.no-stream {
                .video-wrapper {
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }
                }
            }

            &.video-muted {
                .video-wrapper {
                    &:after {
                        background-image: url('/images/video/no-video.jpg');
                    }
                }
            }

            &.video-muted.audio-muted {
                .video-wrapper {
                    &:after {
                        background-image: url('/images/video/no-video-audio.jpg');
                    }
                }
            }

            &.no-stream {
                .video-wrapper {
                    &:after {
                        background-image: url('/images/video/no-stream.jpg');
                    }
                }
            }

            &:hover {
                div.custom-controls-wrapper {
                    div.custom-controls {
                        background: rgba(0, 0, 0, 0.6);
                    }
                }
            }
        }


        &:full-screen {
            background: $black;
            width: 100% !important;
            height: 100% !important;
        }

        &.fullscreen {
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;

            &.has-videos {
                justify-content: flex-end;
                align-items: flex-start;
                align-content: flex-start;

                &.has-2-3-videos {
                    justify-content: flex-end;
                    align-items: flex-start;
                    align-content: flex-start;
                    flex-wrap: wrap;

                    .video-item {
                        flex: 1 1;
                    }
                }

                &.has-gt-3-videos {
                    justify-content: flex-end;
                    align-items: flex-start;
                    align-content: flex-start;

                    .video-item {
                        flex: 1 1 30%;
                    }
                }
            }

            .video-item {
                width: 140px;
                z-index: 2;
                align-self: auto;
                margin-left: 10px;
                flex: 0 0 auto !important;

                video {
                    max-height: 140px;
                }

                div.caption {
                    h6 {
                        padding: 0.3rem 0.5rem;
                        font-size: 0.75rem;

                        i.fas {
                            font-size: 0.65rem;
                        }
                    }
                }

                .custom-controls-wrapper {
                    display: none;
                }

                &.fullscreen-item {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    max-height: 100%;
                    margin-left: 0px;
                    z-index: 1;

                    video {
                        height: 100%;
                        max-height: 100%;
                    }

                    div.caption {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        justify-content: center;

                        h6 {
                            padding: 0.4rem 0.8rem;
                            background: rgba(0, 0, 0, 0.4);
                            color: rgba(255, 255, 255, 0.8) !important;
                            transition: $transition-all-ease;
                            border-radius: 8px;
                            line-height: 1rem;
                        }
                    }

                    .custom-controls-wrapper {
                        display: block;
                    }
                }

                &.local {
                    width: 140px;
                    position: absolute;
                    bottom: 10px;
                    right: 10px;

                    video {
                        max-height: 140px;
                    }
                }

                &.agenda-card {
                    display: none;
                }
            }

        }
    }

    .chat-box-container {
        .chat-button, .chat-box-wrapper {
            bottom: 75px;
        }
    }

}


::-moz-full-screen .video-item {
    width: 100%;
    height: 100%;
}



.flip-clock {

    .flip-card__top,
    .flip-card__bottom,
    .flip-card__back-bottom,
    .flip-card__back::before,
    .flip-card__back::after {
        color: $light;
        background: $gray-darker;
    }

    .flip-card__top-4digits,
    .flip-card__bottom-4digits,
    .flip-card__back-bottom-4digits,
    .flip-card__back-4digits::before,
    .flip-card__back-4digits::after {
        color: $light;
        background: $gray-darker;
    }

    .flip-card__bottom,
    .flip-card__back-bottom,
    .flip-card__bottom-4digits,
    .flip-card__back-bottom-4digits {
        color: lighten($light, 6);
        background: lighten($gray-darker, 6);
    }
}

@include media-breakpoint-up(sm) {
    .meeting-page {

        .meeting-footer {
            .meeting-actions {
                .agenda-toggle-btn {
                    display: inline-block;
                }
            }

            &.has-videos {
                .logo-wrapper {
                    display: flex;
                    min-width: 22vw;
                }

                .meeting-actions {
                    justify-content: flex-end;
                    min-width: 22vw;
                }
            }

        }

        .agenda-streams-container {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            max-height: 100vh;
            max-width: 100vw;
            z-index: 1;
            padding-bottom: $navbar-height;
            overflow: hidden;

            .agenda-container {
                position: absolute;
                opacity: 0;
                top: 0;
                left: -45vw;
                height: 100vh;
                width: 40vw;
                max-height: 100vh;
                z-index: 2;
                padding-bottom: $navbar-height;
                overflow: hidden;

                .meeting-agenda-container {
                    max-height: 80vh;
                    height: 80vh;
                }
            }

            .streams-container {
                position: absolute;
                top: 0;
                left: 0;
                height: 100vh;
                width: 100vw;
                max-height: 100vh;
                max-width: 100vw;
                z-index: 1;
                overflow: hidden;
                padding: $spacer 0 $navbar-height $spacer;

                .video-list {
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    max-height: 100%;
                }
            }

            &.has-agenda.agenda-visible {
                .agenda-container {
                    left: 0;
                    opacity: 1;
                }

                .streams-container {
                    left: 40vw;
                    width: 60vw;
                    max-width: 60vw;
                }
            }
        }

        .video-list {
            flex-direction: row;
            flex-grow: 1;

            .video-item {
                margin: 0 $spacer $spacer 0;
                flex: 0 0 19%;

                video {
                    max-height: fit-content;
                    max-height: 90vh;
                }

                &.local {
                    order: 9998;
                }

                &.wait-box {
                    .card-body {
                        justify-content: center;
                    }
                }

                &.maximized {
                    flex-grow: 1;
                    order: -1;
                }
            }

            &.has-videos {
                align-items: center;
                align-content: center;
                justify-content: center;

                .video-item {}

                &.has-2-3-videos {
                    flex-wrap: wrap;

                    .video-item {
                        flex: 1 1;
                    }
                }

                &.has-4-videos {
                    flex-wrap: wrap;
                    overflow-y: auto;
                    align-content: flex-start;
                    .video-item {
                        flex: 1 1 48%;
                    }
                }

                &.has-gt-4-videos, &.has-gt-12-videos, &.has-gt-20-videos {
                    flex-wrap: wrap;
                    overflow-y: auto;
                    align-content: flex-start;

                    .video-item {
                        flex: 1 1 23%;
                        // max-width: 340px;
                        // max-height: 200px;
                    }
                }

                &.has-gt-12-videos {
                    .video-item {
                        flex: 1 1 18%;
                    }
                }

                &.has-gt-20-videos {
                    .video-item {
                        flex: 1 1 15%;
                    }
                }
            }
        }

        .agenda-streams-container .streams-container.stream-fullpage-layout {
            padding: 0 0 $navbar-height 0;

            .video-list.has-videos {
                position: absolute;
                height: 100%;
                width: auto;
                flex-direction: column;
                justify-content: flex-end;
                padding: 1rem 0 $navbar-height 1rem;

                .video-item {
                    max-width: 140px;
                    max-height: 120px;
                    flex: 0 0 auto;

                    video {
                        max-width: stretch;
                        max-height: stretch;
                    }

                    .video-wrapper {
                        max-height: 100%;
                    }

                    .caption {
                        bottom: 5px;
                    }

                    &.maximized {
                        position: fixed;
                        margin: 0;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        max-width: 100%;
                        max-height: 100%;
                        z-index: -1;
                        padding-bottom: $navbar-height - 1px;

                        .video-wrapper {
                            height: 100%;
                        }

                        video {
                            border-radius: 0;
                        }

                        .caption {
                            bottom: 65px;
                        }
                    }

                    &.local {
                        position: fixed;
                        margin: 0;
                        bottom: $navbar-height + 15px;
                        right: 1rem;
                        z-index: 1;

                        &.screen {
                            bottom: $navbar-height + 15px + 130px;
                        }
                    }
                }
            }
        }

        .agenda-streams-container .streams-container.stream-gallery-layout {
            .video-list.has-videos {
                align-content: flex-start;
                overflow-y: auto;

                .video-item {
                    flex: 0 0 18%;

                    video {
                        min-height: 140px;
                    }

                    .video-wrapper {
                    }

                    .caption {
                    }

                    &.maximized {
                        flex: 1 1 100% !important;

                        .video-wrapper {
                        }

                        video {
                            height: auto !important;
                            max-width: 100%;
                            max-height: 65vh;
                        }

                        .caption {
                        }
                    }

                    &.local {

                        &.screen {
                        }
                    }
                }
            }
        }



        &.auto-hide-footer {
            .meeting-footer {
                opacity: 0;
                bottom: -$navbar-height;
                transition: $transition-all-ease;
                transition-delay: 0.5s;

                &:before {
                    content: ' ';
                    position: absolute;
                    width: 100%;
                    height: $navbar-height;
                    top: -$navbar-height;
                }

                &:hover {
                    opacity: 1;
                    bottom: -1px;
                    transition: $transition-all-ease;
                    transition-delay: 0s;
                }
            }

            .agenda-streams-container {
                padding-bottom: 0;

                .agenda-container {
                    padding-bottom: 0;

                    .meeting-agenda-container {
                        max-height: 85vh;
                        height: 85vh;
                    }
                }

                .streams-container {
                    padding: $spacer 0 0 $spacer;
                }
            }

            .agenda-streams-container .streams-container.stream-fullpage-layout {
                padding: 0;

                .video-list.has-videos {
                    padding: 1rem 0 0 1rem;

                    .video-item {

                        &.maximized {
                            padding-bottom: 0;
                        }

                        &.local {
                            bottom: 15px;
                            right: 1rem;
                            z-index: 1;

                            &.screen {
                                bottom: 15px + 130px;
                            }
                        }
                    }
                }
            }
        }
    }

}


@each $key,
$value in $default-palette {
    [data-page-background-color="#{$key}"] {
        background-color: map-get($value, "background-color");
        color: map-get($value, "foreground-color");
    }

    [data-card-background-color="#{$key}"] {

        &.card,
        .card {
            background-color: map-get($value, "background-color");
            color: map-get($value, "foreground-color");
        }
    }

    [data-footer-background-color="#{$key}"] {
        background-color: map-get($value, "background-color");
        color: map-get($value, "foreground-color");

        .meeting-actions {

            &>.btn,
            &>.dropdown>.btn {
                color: map-get($value, "foreground-color");

                &:hover,
                &:active {
                    color: map-get($value, "second-foreground-color");
                }
            }
        }
    }
}
